.photo {
  float: left;
  width: 4.2rem;
  border-radius: 2.1rem;
  margin-right: 1rem;
}

#about {
  font-size: 1.3rem;
  text-align: justify;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

hr {
  border-width: 0;
  border-top: 1px solid #E1E1E1;
  height: 0;
}

pre {
  overflow: auto;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

.footer {
  margin: 0 auto;
  max-width: 660px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #aaa;
  font-family: 'Lato';
  font-size: 1rem;
  text-align: right;
}

.footer a {
  color: #aaa;
}

.footer > hr {
  margin-bottom: 2rem;
}
