<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Jonathan Cremin &mdash; Web Hacker/Engineer/Developer</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="openid.server" href="http://crem.in/openid/index.php" />
	<link rel="openid.delegate" href="http://crem.in/openid/index.php" />
</head>
<body>
	<div class="container-fluid">
	
			<!-- Post -->
			{{ content }}
			
		<footer>
		<small>Design and content &copy; 2011 Jonathan Cremin</small>
		</footer>
	</div>

	<script>
		var _gaq=[['_setAccount','UA-66209-1'],['_trackPageview'],['_trackPageLoadTime']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>