<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"  dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<title>{{ page.title }}</title>

<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans:bold|Ubuntu' rel='stylesheet' type='text/css'>
<link rel="openid.server" href="http://crem.in/openid/index.php" />
<link rel="openid.delegate" href="http://crem.in/openid/index.php" />
</head>
<body>
<div id="page">

<div id="content">
  
  {{ content }}

</div>
	<div id="header">
			<a href="/"><img src="/images/header-img.jpg" alt="header image" title="I took this. :)" height="200"/></a>
			<h1><a href="/">Jonathan&nbsp;Cremin</a></h1>
			<p>NOT DESIGNED FOR INTERNET EXPLORER</p>
	</div>
	<div id="sidebar1" class="sidecol">
	<div id="bio">
		<h2>About</h2>
		A full-stack web engineer. Living in Dublin, Ireland and working at Web Reservations International. Enjoys working on Open Source, web server stacks, XHTML/CSS, JavaScript and playing with the latest trends in technology.
	</div>
	<p>Looking to get in contact? Email me at <a href="mailto:jonathan@crem.in">jonathan@crem.in</a></p>	
	</div>

 
<div id="footer">
	<p>
		Site Design &amp; Content &copy; 2007-2010 Jonathan Cremin
	</p>
</div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-66209-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
