---
layout: default
---
<header class="home_header">
  <h1><a href="/">Jonathan Cremin</a></h1>
  <!-- About -->
  <div id="about">
    I'm a software engineer living in Dublin and working at <a href="https://www.udemy.com">Udemy</a>.
    I build stuff for Mac, iOS, and the web, like <a href="https://hostr.co">Hostr</a> and <a href="https://match.audio">Match Audio</a>.
    Want to get in touch? Email <a href="mailto:jonathan@crem.in">jonathan@crem.in</a> or tweet <a href="https://twitter.com/kudoz">@kudoz</a>.
  </div>
</header>

<hr />

<div id="main" role="main">
  <!-- Post -->
  {{ content }}
</div>
