---
layout: default
---
<header>
  <h2><a href="/">Jonathan Cremin</a></h2>
</header>

<hr />

<div class="post">
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="entry">
  {{ content }}
  </div>
  <div class="published">Published {{ page.date | date_to_string }}</div>
</div>

<hr />

<div id="about">
  I'm a developer living in Dublin and working on frontend stuff at <a href="http://engineyard.com">Engine Yard</a>. I build apps for Mac, iOS and the web. I'm also the founder of <a href="https://hostr.co">Hostr</a>, deceptively simple file sharing. Want to get in touch? Email <a href="mailto:jonathan@crem.in">jonathan@crem.in</a> or tweet <a href="https://twitter.com/kudoz">@kudoz</a>.
</div>

<hr />

<div id="related">
  <h3>Recent Posts</h3>
  <ul class="list-unstyled more">
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
